
span.pull-right {
  float: right;
}

.destination-item h6 {
  padding: 0 10px 10px 10px !important;
  margin-top: -95px !important;
}

h6.underline-title {
  border-bottom: 1px solid #E5E5E5;
}

.pointer {
  cursor: pointer !important;
}

.max-w-100 {
  max-width: 100% !important;
}

.comments-container.card {
  border-radius: 0;
  background-color: #F2F3F9;
  box-shadow: none;
  border: none;
}

.comments-container.card:hover {
  transform: scale(1) !important;
  box-shadow: none;
  border: none;
}

.comment {
  margin-bottom: 1.25rem;
}

.comment:after {
  content: "";
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
  width: 80%;
  border-bottom: 1px solid #E5E5E5;
}

.test {
  width: 100px;
  height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.rounded-modal {
  border-radius: 25px;
  min-width: 27vw;
  padding: 0;
  text-align: center;
  background: transparent;
}

.rounded-modal .card:hover {
  transition: none !important;
  transform: none !important;
}

.test {
  position: relative;
  float: left;
  height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 46%;
  border-radius: 7px;
  margin: 5px;
  width: auto !important;
}

.delete {
  position: relative;
  top: 16px;
  right: 15px
}

footer svg, .button svg, .delete svg {
  filter: drop-shadow(3px 3px 3px #999);
  transition: 0.3s;
  transform: rotate(-0.2deg)
}

footer svg:hover, .button svg:hover, .delete svg:hover {
  filter: drop-shadow(4px 4px 4px #999);
  transform: rotate(-0.6deg);
  cursor: pointer
}

.delete svg {
  filter: drop-shadow(1px 1px 1px #999)
}

label {
  font-size: 16px;
}

.gold {
  background-color: #f2b01e;
}

.active-category {
  color: #fff !important;
  background-color: #fe4f81 !important;
  border-color: #fe4f81 !important;
}

ul.steps > li {
  width: 4em;
  height: 4em;
  text-align: center;
  line-height: 4em;
  border-radius: 4em;
  background: white;
  margin: 0 1.5em;
  display: inline-block;
  color: #1a6bc4;
  position: relative;
  border: 2px solid #1a6bc4;
}

ul.steps > li::before {
  content: '';
  position: absolute;
  top: 1.9em;
  left: -4em;
  width: 4em;
  height: .2em;
  //background: white;
  border-bottom: 2px dashed #1a6bc4;
  z-index: -1;
}

ul.steps > li:first-child::before {
  display: none;
}

ul.steps .active {
  background: #1a6bc4;
  color: white;
}

.step-images-container {
  max-height: 80vh;
  overflow: auto;
}

.white-bg {
  background-color: #ffffff;
}

.grey-bg {
  background-color: #F2F3F9;
}

.page-loader {
  height: 100vh;
  z-index: 110 !important;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border: 0;
}

@media (max-width: 1200px) {
  #footer {
    margin-top: 0;
  }
}


.has-right-line {
  padding-right: 20px;
  border-right: 1px solid #ccc;
}

.navbar-brand img {
  width: 40px !important;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #FCFCFC;
  border-radius: 10px;
  max-height: 200px !important;
  overflow-y: auto;
  position: absolute;
  z-index: 9999;
  width: 100%;
}

.autoComplete-container > div {
  position: relative;
}

.relative {
  position: relative !important;
}


.steps-modal-container {
  background-color: #ffffff !important;
  z-index: 99 !important;
  align-items: normal !important;
}

.steps-modal-container .steps {
  padding-top: 150px;
  margin-bottom: 3rem;
}

.steps-modal-container .steps-details {
  padding-bottom: 60px;
}

.steps-modal-container .close-icon {
  position: absolute;
  right: 10%;
  top: 15%;
  z-index: 1000
}

.steps-modal-container > div:nth-child(2) {
  width: 100% !important;
  position: relative;
}

.img-card:before {
  width: 100% !important;
  height: 50px !important;
}

.company-logo {
  display: inline-block;
  max-width: 64px;
  border-radius: 7px;
  margin: 3px;
  height: auto;
}

.white-popup a i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}


.my-select > div {
  border-radius: 15px;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #828282;
  outline: none !important;
  border: none !important;
}

.my-select > div > div {
  flex-wrap: nowrap !important;
}

.form-group > label {
  padding-bottom: 5px;
}

.black-border {
  border: 1px solid #000;
}

.custom-btn {
  border-radius: 15px;
  background-color: transparent;
  color: #1a6bc4;
  border: 1px solid #1a6bc4;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .5px;
  margin-bottom: 10px !important;
}

.custom-btn:hover, .custom-btn.active {
  color: #fff !important;
  border-color: #1a6bc4 !important;
  background-color: #1a6bc4 !important;
}

#footer {
  z-index: -1;
}

.user-name h3 {
  color: #000000;
}

.user-name h3:hover {
  color: #000000;
}

.form-control {
  color: #000000;
}

.react-datepicker-wrapper, .react-datepicker__input-container {
  width: 100%;
}

#top {
  z-index: 2;
}

.map-full-container {
  padding-right: 5% !important;
  padding-left: 5% !important;
  padding-top: 120px !important;
}

.tour-title img {
  z-index: 0;
}

#back-to-top {
  display: inline-block;
  background-color: #1a6bc4;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s,
  opacity .5s, visibility .5s;
  z-index: 1000;
}

#back-to-top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#back-to-top:hover {
  cursor: pointer;
  background-color: #333;
}

#back-to-top:active {
  background-color: #555;
}

#back-to-top.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */

.content {
  width: 77%;
  margin: 50px auto;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}

@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  #back-to-top {
    margin: 30px;
  }
}

.content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}

.content h3 {
  font-style: italic;
  color: #96a2a7;
}


img.popular-images {
  position: relative;
  float: left;
  height: 100px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 46%;
  border-radius: 7px;
  margin: 5px;
  width: auto !important;
}










.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 300px;
  overflow: hidden;
  white-space: nowrap;
}

.slider-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.arrow {
  height: 30px;
  width: 30px;
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  border-radius: 50%;
  cursor: pointer;
  transition: transform ease-in .1s;
}

.slider:hover > .arrow {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.nextArrow {
  position: absolute;
  top: 50%;
  right: 25px;
  z-index: 999;
  color: #fff;
}

.backArrow {
  position: absolute;
  top: 50%;
  left: 25px;
  z-index: 999;
  color: #fff;
}

.fa-arrow-right:before, .fa-arrow-left:before {
  color: #222
}